.btn {
   display: inline-block;
   text-align: center;
   white-space: nowrap;
   vertical-align: middle;
   background-image: none;
   border: 1px solid transparent;
   cursor: pointer;
   text-decoration: none;
   padding: 0.45rem 1.575rem;
   font-size: 1.313em;
   font-weight: bold;
   border-radius: 4px;
   transition: all 0.3s ease 0s;
}

.btn-primary {
   background: #1f3303;
   border-color: #1f3303;
   color: white;
}

.btn-primary:hover {
   background: none;
   border-color: white;
   text-decoration: none;
}

.btn-nav {
   color: #1f3303;
}

.btn-toggle-menu {
   position: absolute;
   top: 0.6666667rem;
   right: 0.6666667rem;
}
.btn-center {
   text-align: center;
}

@media (min-width: 48em) {
   .btn-toggle-menu {
      display: none;
   }
}
